* {
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width: 100%;
}

.intro {
    height: 100vh;
    background: url(businessman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.intro-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

.intro .intro-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .intro-body .intro-container {
    width: 630px;
    text-align: center;
}

.intro .intro-body p {
    font-size: 20px;
}

.intro .intro-body h1 {
    font-size: 50px;
    margin: 15px 0 50px;
}

.intro .intro-body button {
    background-color: #27ca8e;
    border: 0;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    position: relative;
    left: -60px;
}

.intro .intro-body input {
    border: 0;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
}

.intro-brand {
    font-size: 30px;
    margin-right: 80px;
}

.intro-nav {
    font-size: 20px;
}

.intro-nav a {
    padding: 0 10px;
}

.intro-email{
    font-size: 20px;
    margin-left: auto;
}
/* begining style computer page */

.computer-picture {
    display: flex;
    padding: 60px;
}

.computer-picture header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.computer-title{
    font-size: 43px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.computer-nav {
    list-style-type:none;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    padding-left: 0;
}

.computer-nav li{
   padding-right: 40px; 
}

.computer-body{    
    margin-top: 60px;
}

.first-paragraph{
    height: 100px;
    margin-bottom: 10px;
}

.first-paragraph h2{
    padding-bottom: 10px;    
}

.second-paragraph{
}

.second-paragraph h2{
    padding-bottom: 10px; 
}

.computer-image{
    margin-left: 40px;
}

.computer-image img {
    width: 450px;
}

.prof-team {
    background: #e9e9e95e;
}

.prof-team header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 30px 0;
}

.team-body {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.member {
    background: #8080802b;
    width: 33.3%;
}

.member-content {
    padding: 20px;
}

.member-content h2, .member-content h3, .member-content p {
    font-weight: normal;
    padding-bottom: 10px; 
}

.team-body img{
    width: 100%;
}
.right-side{
    background-color: rgb(36, 35, 35);
    width: 50%;
    color: white;
    

}
.poeple-container{
    width: 1280px;
    margin:0 auto;

}
.poeple-say-section{
    display: flex;

}
.left-side{
    width: 50%;
    
}
.left-side img{
    width: 100%;
    
}

.right-side p {
    color: rgb(172, 161, 161);
    font-size: 25px;
    font-style: italic;
}
.right-side h1{
    font-size: 35px;
    padding-bottom: 20px;
    
}

.right-side-body{
    
   
    text-align: left;
    
    margin: 0 auto;
    padding: 60px;
 }
 .boy-image{
     display: flex;
     padding: 40px 0;

 }
 .boy-image img{
     width: 60px;
     height:60px; 
     border-radius: 50%;
     border: 4px solid white;
  }

 .boy-image p{
     padding: 20px;

 }

 .plan-section{
background-color: whitesmoke;
margin-bottom: 60px;

 }

 .plan-body {
     display: flex;
     width: 1280px;
     margin: 0 auto;
     
 }
 .category{
    width: 33.3%;
    padding: 0px 50px;
    color: rgb(115, 115, 115);
    font-size: 30px;
    background-color: rgb(223, 245, 243);
    margin: 0px 10px;
    padding-bottom: 20px;
 }
 .buttom-part{
     display: flex;
     align-items: center;
     padding-top: 20px;
     font-size: 15px;
     border-top: 1px solid black;
 }
 .buttom-part button{
    border-radius: 100px;
    margin-left: 60px;
    font-size: 15px;
    background-color: #80cb84a6;
    color: white;
    height: 40px;
    width: 150px;

 } 
 .buttom-part p{

    

 }
 .plan-section header{
     font-size: 35px;
     text-align: center;
     padding: 60px 0;
     
 }
 .plan-body{
       
 }
 .category h3{
 padding: 30px 0;
 font-size: 30px;
 }
 .list{
    padding-bottom: 20px;
    padding-top: 20px;
 }

 .list li{
    list-style-type: none;
    font-size: 15px;
    padding: 5px 0;


 }
 .category h3{
    border-bottom: 1px solid black;
     
 }
