* {
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

.container {
    width: 100%;
}

.intro {
    height: 100vh;
    background: url(businessman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.intro-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro header {
    height: 80px;
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

.intro .intro-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .intro-body .intro-container {
    width: 630px;
    text-align: center;
}

.intro .intro-body p {
    font-size: 20px;
}

.intro .intro-body h1 {
    font-size: 50px;
    margin: 15px 0 50px;
}

.intro .intro-body button {
    background-color: #27ca8e;
    border: 0;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    position: relative;
    left: -60px;
}

.intro .intro-body input {
    border: 0;
    padding: 20px 25px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
}

.intro-brand {
    font-size: 30px;
    margin-right: 80px;
}

.intro-nav {
    font-size: 20px;
}

.intro-nav a {
    padding: 0 10px;
}

.intro-email{
    font-size: 20px;
    margin-left: auto;
}
